<md-toolbar>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button> MpList Samples</md-toolbar>
<md-menu #menu="mdMenu">
    <button md-menu-item (click)="goToAbout()">
        <md-icon>help</md-icon>About
    </button>
    <button md-menu-item (click)="goToLinkedIn()">
        <md-icon>group</md-icon>My LinkedIn
    </button>
</md-menu>
<md-card>
    <md-card-title>
        Marvel Heroes</md-card-title>
    <md-tab-group>
        <md-tab label="From Service">
            <md-card-subtitle>Build a list from a service result object <a href="http://marvel.com">Data provided by Marvel. © 2017 MARVEL</a></md-card-subtitle>
            <md-card-content>
                <app-hero-detail #heroDetail></app-hero-detail>
                <mp-list #serviceMpList [itemsLocation]="_itemsLocation" [url]="_url" (onItemSelected)="heroDetail.setDetail(serviceMpList)" [listId]="_listFromServiceId">
                </mp-list>
            </md-card-content>
            <md-card-actions>
                <button (click)="serviceMpList.deleteItem()" md-button>Delete</button>
                <button (click)="serviceMpList.refreshList()" md-button>Refesh</button>
                <button (click)="addNewItem(serviceMpList)" md-button>+Item</button>
            </md-card-actions>
        </md-tab>
        <md-tab label="From Array">
            <md-card-subtitle>Build a list from Array</md-card-subtitle>
            <md-card-content>
                <mp-list #arrayMpList [fromService]="_fromService" [dataArray]="_dataArray" (onItemSelected)="_onArrayListItemSelected($event)" [listId]="_listFromArrayId"></mp-list>
            </md-card-content>
            <md-card-actions>
                <button (click)="arrayMpList.deleteItem()" md-button>Delete</button>
                <button (click)="addDescItemTolist()" md-button>+Item</button>
                <button (click)="addNoDescItemTolist()" md-button>+Item No Desc.</button>
            </md-card-actions>
        </md-tab>
    </md-tab-group>
</md-card>
